# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [47]:
integers = tuple((x for x in range(1,11))) # wrap it in the tuple constructor, else a generator would be created (idk what a generator is)
print(integers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [48]:
# Assignment 2 
print(integers[0])
print(integers[len(integers) // 2])
print(integers[-1])

1
6
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [49]:
# Assignment 3 
print(integers[0:3])
print(integers[-3:])
print(integers[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [50]:
two_dimensional_matrix = ((1,2,3), (4,5,6), (7,8,9)) # Assignment 4 

for row in two_dimensional_matrix: 
    print(row)
    
print(two_dimensional_matrix[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

In [51]:
# Assignment 5 - concatenation 

tpl1 = (1,2,3)
tpl2 = (4,5,6)

tpl3 = tpl1 + tpl2
print(tpl3)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [52]:
# Assignment 6 

tpl = (1,2,3,4,1,3,6,9,8,9,6,7,8)
print(tpl.count(3))
print(tpl.index(9))

2
7

In [53]:
# Assignment 7
package = (120,240, 360, 480, 600)
print(package)

first, *mid, last = package
print(first)
print(*mid)
print(last)

print(type(mid))

(120, 240, 360, 480, 600)
120
240 360 480
600
<class 'list'>

In [54]:
# Assignment 8 

lst = tuple([x for x in range(1,6)])
print(lst)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [55]:
# Assignment 9 
two_dimensional_matrix = ((1,2,3), (4,5,6), (7,8,9)) # same as Assignment 4 

print(two_dimensional_matrix)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [56]:
# Assignment 10 

tpl = list((1,2,3,4,5))
tpl.append(6)
print(tuple(tpl))

(1, 2, 3, 4, 5, 6)

In [57]:
# Assignment 11 
characters = ('h', 'e', 'l', 'l', 'o')
string = str(characters)
print(type(string))

word = ''.join(string)
print(word)

<class 'str'>
('h', 'e', 'l', 'l', 'o')

In [58]:
# Assignment 12 

# pending

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [59]:
# Assignment 13 

matrix = ((1,2,3), (4,5,6), (7,8,9))

print(len(matrix))

for i in range(0, len(matrix)): 
    for j in range(0, len(matrix)):
        print(matrix[i][j], end = " ")

3
1 2 3 4 5 6 7 8 9

In [60]:
redundant = (1,2,3,4,1,3,6,9,8,9,6,7,8)

clean = set(redundant)
print(clean)

{1, 2, 3, 4, 6, 7, 8, 9}

In [61]:
def tpldetails(tupl): 
    print(max(tupl))
    print(min(tupl))
    print(sum(tupl))
    return -1
    
print(tpldetails(redundant))

9
1
67
-1

In [71]:
def check_unique(lst):
    # Your code goes here
    count = 0
    for element in lst: 
        count = lst.count(element)
        print(count)
        if count > 1: 
            return False
        else :
            return True

lst = [1, 2, 3, 3, 4, 5]
print(lst.count(3))
check_unique(lst)

2
1

True